@model IEnumerable<T1708M1News.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr class="row">
            <th class="col-md-1">Id</th>
            <th class="col-md-1">First Name</th>
            <th class="col-md-1">Last Name</th>
            <th class="col-md-2">Email</th>
            <th class="col-md-1">Phone</th>
            <th class="col-md-1">Birthday</th>
            <th class="col-md-2">Address</th>
            <th class="col-md-1">Gender</th>
            <th class="col-md-2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="row">
            <td class="col-md-1"></td>
            <td class="col-md-1">@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="col-md-2"> @Html.DisplayFor(modelItem => item.Email)</td>
            <td class="col-md-1">@Html.DisplayFor(modelItem => item.Phone)</td>
            <td class="col-md-1">@Html.DisplayFor(modelItem => item.Birthday)</td>
            <td class="col-md-2">@Html.DisplayFor(modelItem => item.Address)</td>
            <td class="col-md-1">@Html.DisplayFor(modelItem => item.Gender)</td>
            <td class="col-md-2">
                <a asp-action="Edit" asp-route-id="@item.RollNumber" class="btn btn-link btn-quick-edit">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RollNumber" class="btn btn-link btn-edit">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RollNumber" class="btn btn-link btn-delete">Delete</a>

            </td>
        </tr>
        }
    </tbody>
</table>
